/* This part styles the page */

body {
    font-family: 'Helvetica', sans-serif; 
    background-color: #080014; 
    color: #ffffff; 
    margin: 0;
}

/* This styles the button */ 

button { 

    background-color: #faf9f6; 
    stroke: "orange"; 


}